# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/default/*
sites/default/css
sites/default/ctools
sites/default/js
sites/default/files
sites/all/themes/epob/.sass_cache
